---
const { url, title, author, domain, cover } = Astro.props;
import { Icon } from "astro-icon";
// import { Image } from "astro:assets";
// const bookPath = `/assets/journal/${cover}`;
// import bookCover from `$(bookPath)`;
---

<div
  class="flex flex-row px-5 py-4 mb-10 rounded-md bg-subtle not-prose gap-x-5"
>
  <!-- <Image
    src={bookCover}
    alt="Kindle with Reinventing organizations cover"
    class="wide"
  /> -->
  <img src={cover} alt={title} class="w-auto h-24 rounded-sm" />
  <div class="flex flex-col">
    <span class="text-lg leading-normal text-heading font-heading">
      {title}
    </span>
    <span class="mb-2 text-subtle">{author}</span>

    <a
      href={url}
      target="_blank"
      rel="noopener noreferrer"
      class="bg-accent self-start rounded-md px-2.5 py-1 font-medium text-sm hover:bg-accentHover transition-colors flex flex-row"
    >
      <Icon pack="tabler" name="external-link" class="w-4 mr-1 text-border" />
      <span class="text-border">
        {domain}
      </span>
    </a>
  </div>
</div>
